<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper
	namespace="com.drug.warehouse.mapper.FinishedGoodsSheetMapper">
	<!--查询出所有成品仓库 -->
	<resultMap type="WarehouseDO"
		id="WarehouseDOAndFinishedGoodsSheetDO">
		<result column="warehouse_id" property="warehouseId" />
		<result column="warehouse_type" property="warehouseType" />
		<result column="warehouse_name" property="warehouseName" />
		<collection property="finishedGoodsSheetDOList"
			ofType="FinishedGoodsSheetDO">
			<result column="finished_goods_sheet_id"
				property="finishedGoodsSheetId" />
			<result column="finished_goods_sheet_name"
				property="finishedGoodsSheetName" />
			<result column="finished_goods_sheet_quantity"
				property="finishedGoodsSheetQuantity" />
			<result column="finished_goods_sheet_type"
				property="finishedGoodsSheetType" />
			<result column="warehouse_id" property="warehouseId" />
		</collection>
	</resultMap>


	<!-- 查询成品仓库所有信息 -->
	<select id="selectFinishedGoodsSheet"
		resultMap="WarehouseDOAndFinishedGoodsSheetDO" parameterType="Map">
		SELECT *
		from finished_goods_sheet f
		inner join warehouse w
		on
		f.warehouse_id =
		w.warehouse_id 
		<if test="warehouseName!=null and warehouseName!=''">
			where w.warehouse_name=#{warehouseName}
			<if test="finishedGoodsSheetName!=null and finishedGoodsSheetName!=''">
				and f.finished_goods_sheet_name=#{finishedGoodsSheetName}
			</if>
		</if>
		<if test="warehouseName==null or warehouseName==''">
			<if test="finishedGoodsSheetName!=null and finishedGoodsSheetName!='' ">
				where f.finished_goods_sheet_name=#{finishedGoodsSheetName}
			</if>
		</if>
		LIMIT 
		#{page},#{rows}
	</select>

	<!-- 查询成品仓库总行数 -->
	<select id="getFinCount" resultType="int">
		SELECT count(*) from
		finished_goods_sheet
	</select>

	<!-- 查询出所有成品仓库 -->
	<select id="selectWarehouseType" resultType="WarehouseDO">
		SELECT * from
		warehouse
		where warehouse_type='成品仓库'
	</select>
</mapper>