<?xml version="1.0" encoding="UTF-8"?>
<p:beans xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd ">
	<!-- 开启组件扫描：通过注解实例化对象 -->
	<context:component-scan base-package="com.drug"></context:component-scan>
	
	<!-- 实例化映射器与适配器 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 创建数据源 -->
	<p:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<p:property name="driverClassName">
			<p:value>com.mysql.jdbc.Driver</p:value>
		</p:property>
		<p:property name="url">
			<p:value>jdbc:mysql://192.168.43.47:3306/lijie?characterEncoding=utf8</p:value>
		</p:property>
		<p:property name="username" value="root"/>
		<p:property name="password" value="ROOT"/>
	</p:bean>
	<!-- 配置sqlSessionFactory工厂 -->
	<p:bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 必须要使用dataSource属性 -->
		<!-- 数据库源信息 -->
		<p:property name="dataSource" ref="dataSource"></p:property>
		<!-- 取别名 -->
		<p:property name="typeAliasesPackage"
			value="com.drug.entity"></p:property>
	</p:bean>
	
	<!-- 扫描mapper接口，产生代理对象 -->
	<p:bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<p:property name="basePackage" value="com.drug.*.mapper"></p:property>
		<p:property name="sqlSessionFactory" ref="sqlSessionFactory"></p:property>
	</p:bean>
	
	
	<!-- 文件上传 -->
	<p:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<!-- 上传文件的尺寸 kb-->
	 <p:property name="maxUploadSize">
	  <p:value>5000000</p:value>
	 </p:property>
	 <p:property name="defaultEncoding" value="utf-8"/>
	</p:bean>
	
</p:beans>
