<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.finance.mapper.branchinfrMapper" >
	<!-- 查询分店名称 -->
	<select id="getAllBranchName" resultType="String">
		select branchName from branchinfr
	</select>
</mapper>
