<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.finance.mapper.receiptMapper">
	<!-- 查询收款单 -->
	<select id="getReceipt" resultType="ReceiptDO">
		SELECT receipt_id,receipt_time,receipt_payee,receipt_dept,
		receipt_bsubbranch,receipt_account,receipt_money,
		receipt_type,receipt_form FROM receipt 
		where is_show=0
	</select>
	
	<!-- 新增收款单 -->
	<insert id="addReceipt" parameterType="ReceiptDO">
		insert into receipt(receipt_time,receipt_payee,receipt_dept,
		receipt_bsubbranch,receipt_account,receipt_money,receipt_type,receipt_form) 
		values(#{receipt_time},#{receipt_payee},#{receipt_dept},#{receipt_bsubbranch},#{receipt_account},#{receipt_money},#{receipt_type},#{receipt_form}) 
	</insert>
</mapper>
